<div class='page-header'><h1>Contact me</h1></div>

<div class="row">
	<div class="col-md-6">
		<i class='glyphicon glyphicon-phone'><span>+91-7674963300</span></i>
	</div>	

	<div class="col-md-6">
		<a href='mailto://anupamsdesk@gmail.com'>
			<img src='http://icons.iconarchive.com/icons/cornmanthe3rd/plex/512/Communication-gmail-icon.png' 
				style='height: 50px'/>
			<address> anupamsdesk@gmail.com </address>
		</a>
		<a href='http://in.linkedin.com/pub/anupam-singh/60/966/a63/'>
			<img src='http://icons.iconarchive.com/icons/danleech/simple/256/linkedin-icon.png' style='height: 50px'/>
			<address> http://in.linkedin.com/pub/anupam-singh/60/966/a63/ </address>
		</a>

		<a href='https://github.com/Anupamsdesk'>
			<img src='http://icons.iconarchive.com/icons/artcore-illustrations/artcore-4/256/github-icon.png'  
				style='height: 50px'/>
			<address> https://github.com/Anupamsdesk </address>
		</a>		
	</div>
</div>
