
<div class='page-header'><h1>Who am I?</h1></div>

<blockquote class='lead'>A <b>passionate, full stack developer</b> who has expertise in various development platforms and technology stacks.</blockquote>
<blockquote>A <b>master of technology</b> from one of the most premiere institutes of India - acknowledged all over the world. </blockquote>
<blockquote>A <strong>seasoned and smart developer</strong> with an eye for technology and solid computer science background. </blockquote>
<blockquote>A fun loving and playful team-mate.</blockquote>
<blockquote>A <strong>dependable team-mate</strong> for front-end or back-end.</blockquote>
