<div class="well well-lg">
	<div class="row">
		<div class="col-sm-6 col-md-8">
			<div class='h1'>Greetings</div>
			<p class="lead">
				I am a computer scientist and a software engineer who is passionate about technology and software design.
			</p>
			<p>
				This site is intended to provide you with information about me and my professional work and also showcase traits of my expertise.
			</p>
			<p>
				Thanks for visiting my website. Enjoy your stay and don't forget to post a comment.
			 </p>
			<p><a class="btn btn-lg btn-info" ng-href="#">Get Started!</a></p>
			<div class='pull-right'> Cheers! <br/> Anupam </div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="images/pic1.png" alt="I'm Anupam Singh" style='min-width: 40px'/>
			</div>
		</div>
	</div>
	
</div>
