
<div class='page-header'>
	<h1>Technical Skills</h1>
</div>

<div class='row'>
	<div class='col-md-6 col-lg-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<div class='h3'>Languages</div>
				<div class='row'>
					<div class='col-xs-offset-6 col-xs-3'>Years</div>
					<div class='col-xs-3'>Rating</div>
				</div>
			</div>
			<div class='panel-body'>
				<div ng-repeat="x in skills.languages" class='flexi-list-item'  data-model='x'> </div>
			</div>
		</div>
	</div>

	<div class='col-md-6 col-lg-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<div class='h3'>Frameworks</div>
				<div class='row'>
					<div class='col-xs-offset-6 col-xs-3'>Years</div>
					<div class='col-xs-3'>Rating</div>
				</div>
			</div>
			<div class='panel-body'>
				<div ng-repeat="x in skills.frameworks" class='flexi-list-item'  data-model='x'> </div>
			</div>
		</div>
	</div>

	<div class='col-md-6 col-lg-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<div class='h3'>Databases</div>
				<div class='row'>
					<div class='col-xs-offset-6 col-xs-3'>Years</div>
					<div class='col-xs-3'>Rating</div>
				</div>
			</div>
			<div class='panel-body'>
				<div ng-repeat="x in skills.databases" class='flexi-list-item'  data-model='x'> </div>
			</div>
		</div>
	</div>
</div>
		
